html
    head
        title #{title}
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
        link(rel='icon', href='favicon.ico', type='image/x-icon')
        link(rel='icon', href='favicon.png', type='image/x-icon')
        script(src='/socket.io/socket.io.js')
        script(src="/jquery/jquery.js")
        script(src='javascripts/checkersClient.js')
        script(src='javascripts/checkersValidation.js')

    body
        .column
            .info
                h1 Checkers
                hr
                p
                    | ISA 681 Checkers Game Project
                #iam #{name}
                
                
                
            .stats
                h2 Game Statistics 
                p Game Room : 
                    #gameRoom  #{gameRoom}
                .wrapper
                    #player1
                        h3 Player 1 (Top)
                        #player1Id #{player1}
                    #player2
                        h3 Player 2 (Bottom)
                        #player2Id #{player2}
                .clearfix
                .turn
                button#cleargame Reset Game
            .column
                #board
                    .tiles
                    .pieces
                        .player1pieces
                        .player2pieces
        .hiddens
            p(hidden)#myEmail #{my_email}