html
    head
        title #{title}
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700', rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/app.css')
        link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
        link(rel='shortcut icon', href='favicon.png', type='image/x-icon')
        link(rel='icon', href='favicon.ico', type='image/x-icon')
        link(rel='icon', href='favicon.png', type='image/x-icon')
        script(src='/socket.io/socket.io.js')
        script(src="/jquery/jquery.js")
        script(src='javascripts/checkersClient.js')
        script(src='javascripts/checkersValidation.js')
    body
     h1 Welcome #{name}
    
    #content(style="text-align: right;float: right;")
        -url="/logout"
        a(href=url style='align:right') Logout
    
    // pulled from login page
    p(hidden)#sEmail #{email}
    p(hidden)#sName #{name}
    p(hidden)#pId #{playerId}

    #content
        .options
            button#createGRBtn Create Game Room
            button#joinGRBtn Join Game Room
            button#moveGBtn Game Moves
            button#gameHistory Game History

    p(hidden).waitMsg.
        Waiting for second Player
  
    p(hidden).playerJoinedMsg.
        New Player Joined.
    p(hidden).joinRoomMsg
        | Select a Game Room to join.

    #roomList
      .availList
           button(hidden)#jRoomBtn Join

    p(hidden).selectRoomMsg
        | Select a Game Room to view moves.

    #completedGames
        .rooms 
            button(hidden)#cRoomId Get

    #moves_table

    #content
        .checkers
            button#startPlayBtn(type="button") StartPlay
            //a(href="/checkersGame")

    
    .column
            .info
                h1 Checkers
                hr
                p
                    | ISA 681 Checkers Game Project
                #iam #{name}
                
                
                
            .stats
                h2 Game Room Information 
                p Game Room : 
                    #gameRoom  #{gameRoom}
                .wrapper
                    #player1
                        h3 Player 1 (Top)
                        #player1Id #{player1}
                        //#pId #{}
                    #player2
                        h3 Player 2 (Bottom)
                        #player2Id #{player2}
                .clearfix
                .turn
                button#pausegame Pause Game
            .column
                #board
                    .tiles
                    .pieces
                        .player1pieces
                        .player2pieces
            .hiddens
                p(hidden)#myEmail #{my_email}


